body {
    font-family: 'PT Sans Narrow', Verdana, sans-serif;
    background-color: #eff5df;
    color: #121601;
    text-align: center;
}

#wrapper {
    margin: auto;
    min-width: 300px;
    max-width: 300px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 36pt;
    margin-bottom: 0px;
}
.rating-stars-full {
    color: orange;
}
.rating-label {
    width: 80px;
    float: left;
}

.rating {
    margin: auto;
    width: 200px;
    text-align: right;
}

img.sqimg {
    width: 300px;
    margin-bottom: 10px;
}

.location-label {
    font-size: x-large;
    font-family: 'Amatic SC', cursive;
}

.external-link {
    text-decoration: none;
    color: #2889be;
}
