body {
    font-family: 'PT Sans Narrow', Verdana, sans-serif;
    background-color: #eff5df;
    color: #121601;
    text-align: center;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #121601;
}

#wrapper {
    margin: auto;
    min-width: 300px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 36pt;
    margin-bottom: 5px;
    padding-bottom: 0px;
}
h1 a {
    padding-bottom: 0px;
}
.rating-stars {
    line-height: 20px;
    text-align: left;
}
.rating-stars-full {
    color: orange;
}
.rating-label {
    width: 80px;
    float: left;
}

.rating-table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.sqimg {
    width: 300px;
    margin-bottom: 10px;
}

img.map {
    margin-top: 15px;
}

.location-label {
    font-size: x-large;
    font-family: 'Amatic SC', cursive;
    margin-top: -5px;
    margin-bottom: 20px;
}

a.external-link {
    text-decoration: none;
    color: orange;
}
a {
    /* transition: border-color 0.3s; */
    padding: 5px;
}

a:hover {
    border-bottom: 2px solid orange;
    /* background: white; */
}

/* hide empty links */
a[href=""] {
      display: none;
}

.content {
    width: 300px;
    margin: auto;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
}

.index .description {
    height: 50px;
    display: block;
    overflow: scroll;
}

#prevnext a {
    color: orange;
}

.previous-page, .next-page {
    margin-left: 10px;
    margin-right: 10px;
}

.previous-page:before {
    content: "« ";
}
.next-page:after {
    content: " »";
}

#banner h2 {
    color: orange;
}
#banner a:hover {
    border-bottom: 3px solid orange;
}
