<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>%title - %site_name</title>
        <meta name="ctime" content="%ctime">
        <meta name="mtime" content="%mtime">
        <link rel="stylesheet" href="../templates/default/default.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="wrapper">
            <div id="banner">
                <!-- <h2>%site_name</h2> -->
            </div>
            <div class="content">
            %content
            </div>
        </div>
    </body>
</html>
