<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>%title - %site_name</title>
        <link rel="shortcut icon" href="../logo.png">
        <link rel="stylesheet" href="../templates/default/default.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="wrapper">
            <div id="banner">
                <h2><a href="../index.html"><img src="../logo.png">%site_name.</a></h2>
            </div>
            <div class="content">
                <h1>%title</h1>
                <div class='location-label'>%loc</div>
                <img class='sqimg' src='../images/%image' /><br>
                <span class='description'>%description</span>

                %stars

                <a class='external-link' href='%website'>Website</a>

                <br>
                <a class='map-link' href="https://www.google.com/maps/search/%latlon"><img class='map' src='https://maps.googleapis.com/maps/api/staticmap?center=%latlon&zoom=15&size=300x150&markers=color:green|%latlon' /></a><br>
            </div>
        </div>
    </body>
</html>
